<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; margin: 0;">
    <div style="min-height: 100vh; background-color: rgba(150, 238, 229, 0.05); width: 20%; border-right:1px solid rgba(150, 150, 150, .5); float: left; position: fixed">
        <div style="color: black; margin-left: 25%;">
            <br>
            <div style="font-size: 80%">{{ user.email }}</div>
            <a href="/dashboard" style="margin-top: 30%" class="navbarElement">Dashboard</a>
            <br>
            <a style="margin-top: 10%" href="/advertise" class="navbarElement">Start a campaign</a>
            <br>
            <a style="margin-top: 10%" href="/load_money" class="navbarElement">Increase Account Balance</a>
            <br>
            <a style="margin-top: 10%" href="/account" class="navbarElement">Account</a>
            <br>
            {% if user.purpose == "Content Creator" %}
            <a style="margin-top: 10%" href="/add_domain" class="navbarElement">Add Domain</a>
            <br>
            <a style="margin-top: 10%" href="/payout" class="navbarElement">Receive Payout</a>
            <br>
            <a style="margin-top: 10%" href="/website_performance" class="navbarElement">Website Performance</a>
            <br>
            {% if is_admin %}
                <a style="margin-top: 10%" href="/web_traffic" class="navbarElement">View Website Traffic</a>
                <br>
                <div class="navbarElement" style="font-size: 80%; margin-top: 10%"> Admin </div>
            {% endif %}
            {% endif %}
            {% if user.is_partner %}
                <div class="navbarElement" style="font-size: 80%; margin-top: 10%">Advertising Partner</div>
            {% endif %}
        </div>
    </div>
    <div style="float: left; width: 79%; margin-left: 20%">
        <h1>Ad Information</h1>
            <button style="margin-left: 10%; width: 80%" class="accordion">{{ ads.advertiserwebsite }}</button>
            <div style="margin-left: 10%" class="panel">
                <div>
                    <h3>{{ ads.advertiserwebsite }}</h3>
                    <h3>{{ ads.keywords }}</h3>
                    <h3>Total number of ad clicks: {{ ads.total_clicks }}</h3>
                    <h3>Total number of view: {{ ads.total_views }}</h3>
                    <h3>Remaining Budget: {{ "%.2f" % ads.budget }} $</h3>
                    <h3>Ad Type: {{ ads.ad_type }}</h3>
                    <h3>Advertising websites: </h3>
                    <p>
                        {% for i in unique_publishers %}
                            {{ i }} : {{ publishers.count(i) }}
                            <br>
                        {% endfor %}
                    </p>
                    <a href="/cancel_ad/{{ i.id }}" style="text-decoration=none; color: gray">Cancel Ad</a>
                </div>
            </div>
        {% endfor %}
        <br>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");

            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
    </script>
</body>
</html>