<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds Careers</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="width: 100%; height: 100%; font-family: Open Sans; font-size: 12; line-height: 1.5; padding: 0; margin: 0; outline: 0; border: 0; color: rgb(0, 0, 50)">
    <div>
        <div style="width: 100%; color: gray; margin-bottom: 0%; position: fixed; background-color: white; box-shadow: 0 8px 12px -12px black; z-index:10">
            <hr style="opacity: 0; height: 1px">
            <img src="/logos/webicon.png" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
            <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
            <a class="navbarElement" href="/plans"><small>Plans</small></a>
            <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
            <a class="navbarElement" href="/docs"><small>Docs</small></a>
            <a class="navbarElement" style="float:right; margin-right: 5%;" href="/register">Register</a>
            <a class="navbarElement" style="float:right; margin-right: 2%;" href="/login">Login</a>
            <hr style="opacity: 0">
        </div>
        <img id="titleimage" src="/logos/title.png" alt=""  style="width: 100%">
        <br>
    </div>
    <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9025747?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="width: 100%; margin-top: 3%" alt="">
    <div style="margin-left: 5%; margin-top: 5%; font-size: 20px">
        <span style="font-size: 36px">Development</span>
        <hr style="opacity: .2; margin-right: 5%">
        <a href="/" style="text-decoration: none; color: black">Software Engineer (Python) | Flask & SQLAlchemy</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
        <br>
        <br>
        <a href="/" style="text-decoration: none; color: black;">Software Engineer (JavaScript) | Ajax & DOM</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
        <br>
        <br>
        <a href="/" style="text-decoration: none; color: black;">Senior User Interface Designer</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
        <br>
        <br>
        <span style="font-size: 36px; margin-top: 10%">Sales</span>
        <hr style="opacity: .2; margin-right: 5%">
        <a href="/" style="text-decoration: none; color: black;">Sales Director</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
        <br>
        <br>
        <a href="/" style="text-decoration: none; color: black;">Customer Service Representative</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
        <br>
        <br>
        <span style="font-size: 36px; margin-top: 10%">Human Resources</span>
        <hr style="opacity: .2; margin-right: 5%">
        <a href="/" style="text-decoration: none; color: black;">Senior IT Talent Acquisition Partner</a>
        <p style="color: gray; font-size: 15px">Istanbul, Turkey</p>
    </div>
    <div style="background-color: rgb(0, 50, 50); color: white; margin-top: 10%">
        <br>
        <a href="/corporate" style="text-decoration: none; color: white; margin-left: 5%"><strong>About Us</strong></a>
        <a href="/careers" style="text-decoration: none; color: white; margin-left: 5%"><strong>Careers</strong></a>
        <br>
        <hr style="margin-top: 3%; margin-right: 50%; margin-left: 5%">
        <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
        <!-- End TrustBox script -->
                <!-- TrustBox widget - Micro Review Count -->
        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="60ba88c1f86baa0001ba7d75" data-style-height="24px" data-style-width="100%" style="float: right;" data-theme="dark">
          <a href="https://www.trustpilot.com/review/inadsglobal.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
        <div style="margin-left: 5%; margin-top: 3%">651 N Broad St, Suite 206, Middletown, 19709, New Castle, Delaware</div>
        <br>
        <div style="margin-left: 5%">&copy; InGames, Inc. 2021</div>
        <br>
    </div>
</body>
</html>