<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Change Password</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; width: 100%; height: 100%">
    <div class="alertbox" hidden="true" id="alert-box">Passwords do not match</div>
    <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 1%">
        <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9130410?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
        <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
        <a class="navbarElement" href="/plans"><small>Plans</small></a>
        <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
        <a class="navbarElement" href=""><small>Docs</small></a>
    </div>
    <center>
        <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9130410?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="width: 15%; height: 20%; margin-top: 15%" alt="">
    </center>
    <div style="margin-top: 3%">
        <form method=post enctype=multipart/form-data id="formMain">
            <input style="margin-left: 40%; margin-right:35%" class="mainForm" type=password name=oldpassword placeholder="Password">
            <hr style="margin-left: 40%; margin-right:35%">
            <input style="margin-left: 40%; margin-right:35%"  class="mainForm" type=password name=password id="passwordneworigin" placeholder="New Password">
            <hr style="margin-left: 40%; margin-right:35%">
            <input style="margin-left: 40%; margin-right:35%"  class="mainForm" type=password name=passwordver id="passwordnewagain" placeholder="New Password Again">
            <hr style="margin-left: 40%; margin-right:35%">
            <input class="buttonGray" style="margin-left: 40%" type="button" onclick="formVerifier()" value="Change">
        </form>
    </div>
    <script>
        function formVerifier(){
            if(document.getElementById("passwordneworigin").value != document.getElementById("passwordnewagain").value){
                document.getElementById("alert-box").hidden = false;
                return;
            }

            document.getElementById("formMain").submit()
        }
    </script>
</body>
</html>