<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Docs</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>
<body style="width: 100%; height: 100%; font-family: Open Sans; font-size: 12; line-height: 1.5">
    <link rel="stylesheet" type="text/css" href="/styles">

        <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 1%">
            <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9130410?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
            <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
            <a class="navbarElement" href="/plans"><small>Plans</small></a>
            <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
            <a class="navbarElement" href="/docs"><small>Docs</small></a>
            <a class="navbarElement" style="float: right; margin-right: 5%" href="/docs" id="langelement"><small>TR</small></a>
        </div>
    <hr style="opacity: .3">
    <div style="margin-left: 5%" id="en">
        <h1>Super Simple Integration!</h1>
        First add your domain name to the InAds system through the add domain tap from the InAds dashboard.
        <br>
        <br>
        Place the code bellow at the bottom of your webpage's body
        <br>
        <p style="background-color: rgb(230, 230, 235)">&lt;script src="https://www.inadsglobal.tk/inads/&lt;writesomethinghere>">&lt;/script></p>
        The code above will place ads automatically. However you can customise the size, number and places of ads on your webpage as well. Use the code bellow to customize the ads. Replace &lt;writesomething here> whatever you want. This extra part of the url is just to increase its resistance against ad block.
        <p style="background-color: rgb(230, 230, 235)">&lt;div>&lt;img class=inads name=&lt;shape>>&lt;/div></p>
        There are three different ad shapes:
        <br>
        <ul>
            <li>inadstandard: width:height = 5:1</li>
            <li>inadsquare: width:height = 1:1</li>
            <li>inadsbanner: width:height = 1:5</li>
        </ul>
        By choosing one of the ad types listed above you can pick the shape of the ad you want to display and by setting the margins of the elements your can place them wherever you want. You can place as many ads as you want. If you are giving additional styling to ads always give the styling to the parent div.
        <br>
        <strong>Important Warning: Always place the script element inside your body tags and bellow the img elements</strong>
        <h3>How to add a domain?</h3>
        <p>Make sure to download the inadsconfirm.txt file from domain add page of your dashboard and add it to your website as inadsconfirm.txt without any change. The file must be accessible through http://&lt;yourdomain>/inadsconfirm.txt</p>
        <p>Than add the domain to the database by filing the form. Your domain will be confirmed if the inadsconfirm.txt file can be detected in your website and you will be ready to monetize your website.</p>
        <a onclick="InAdsUnity()" style="text-decoration: none; color: yellow">InAds with Unity</a>
        <div id="InAdsUnity" hidden="true">
            <h3>How to use InAds with Unity</h3>
            <p>Go to add domain tab and enter unity, with lowercase letters, as your domain and get your API key from the website performance tab.</p>
            <p>Download the <a href="/unityextensioninads.cs" style="text-decoration: none">InAds Script for Unity</a>. Create a Raw Image object in your UI canvas and add the InAds Script as a component.</p>
        </div>
    </div>
    <div style="margin-left: 5%" id="tr" hidden="true">
        <h1>Super Simple Integration!</h1>
        Öncelikle alan adınızı InAds gösterge panelinin alan adı ekleme sekmesinden InAds sistemine ekleyin.
        <br>
        <br>
        Aşağıda yer alan kodu web sayfanıza ekleyin.
        <br>
        <p style="background-color: rgb(230, 230, 235)">&lt;script src="https://www.inadsglobal.tk/inads/&lt;writesomethinghere>">&lt;/script></p>
        Eğer sadece bu kodu yerleştirip bırakırsanız otomatik yerleştirmeyi etkinleştirmiş olursunuz verilen script sizin yerinize web sayfanıza reklamları ekleyecektir. Fakat eğer isterseniz yukarıdaki kodu kullanarak reklamlarınızın sayısını, boyutlarını ve yerlerini özelleştirebilirsiniz.
        <p style="background-color: rgb(230, 230, 235)">&lt;div>&lt;img class=inads name=&lt;shape>>&lt;/div></p>
        Şu anlık web sayfanıza ekleyebileceğiniz reklam çeşitleri aşağıdaki gibidir.
        <br>
        <ul>
            <li>inadstandard: width:height = 5:1</li>
            <li>inadsquare: width:height = 1:1</li>
            <li>inadsbanner: width:height = 1:5</li>
        </ul>
        Yukarıdaki listelenmiş reklam tiplerinden birini seçerek reklamlarınızın şeklini seçebilirsiniz. Eğer bu reklamlara ekstra stil vermek isterseniz bunu div üst öğesi üzerinden yapmanızı öneririz.
        <br>
        <strong>Önemli uyarı: En iyi sonuçları almak için reklam scriptini sayfanızın en altına yerleştirmenizi tavsiye ederiz.</strong>
        <h3>Nasıl yeni bir alan adı eklerim?</h3>
        <p>Öncelikle alan adı ekleme sekmesinden inadsconfirm.txt dosyasını indirin, websitenize ekleyin ve dosyanın http://&lt;alan adınız>/inadsconfirm.txt adresinden erişilebilir olduğuna emin olun.</p>
        <p>Sonrasında sayfada yer alan formu doldurarak işlemi tamamlayın ve kullanmaya başlayın.</p>
        <a onclick="InAdsUnity()" style="text-decoration: none; color: yellow">Unity ile InAds</a>
        <div id="InAdsUnityTR" hidden="true">
            <h3>InAds Unity ile nasıl kullanılır?</h3>
            <p>Alan adı ekleme sekmesine gidin ve alan adı olarak küçük harfler ile unity yazın. Sistem size kullanmanız için bir public key atayacak bunu web sitesi performans sekmesinden veya hesap sekmesinden görüntüleyebilirsiniz.</p>
            <p><a href="/unityextensioninads.cs" style="text-decoration: none">InAds Script for Unity</a> dosyasını indirin. UI'ınızda bir Raw Image objesi oluşturun ve InAds Scriptini bu objeye bileşen olarak ekleyin.</p>
        </div>
    </div>
    <center><button class="buttonBlue" style="margin-left: 5%; margin-top: 10%" onclick="document.location = '/register'">Start Now</button></center>
    <script>
        function InAdsUnity(){
            document.getElementById("InAdsUnity").hidden = !document.getElementById("InAdsUnity").hidden;
            document.getElementById("InAdsUnityTR").hidden = !document.getElementById("InAdsUnityTR").hidden;
        }
        function InAdsLanguage(){
            if(document.getElementById("langelement").innerHTML == "EN")
                document.getElementById("langelement").innerHTML = "TR"
            else
                document.getElementById("langelement").innerHTML = "TR"

            document.getElementById("tr").hidden = !document.getElementById("tr").hidden
            document.getElementById("en").hidden = !document.getElementById("en").hidden
        }
    </script>
</body>
</html>