<!doctype html>
<title>InAds - Add Domain</title>

<head>
    <link rel="stylesheet" type="text/css" href="/styles">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>

<body style="font-family: open sans; margin: 0;">
    <div style="min-height: 100vh; background-color: rgba(150, 238, 229, 0.05); width: 20%; border-right:1px solid rgba(150, 150, 150, .5); float: left; position: fixed">
        <div style="color: black; margin-left: 25%;">
            <br>
            {{ user.email }}
            <br>
            <a style="margin-top: 30%" href="/dashboard" class="navbarElement">Dashboard</a>
            <br>
            <a style="margin-top: 10%" href="/advertise" class="navbarElement">Start a campaign</a>
            <br>
            <a style="margin-top: 10%" href="/load_money" class="navbarElement">Increase Account Balance</a>
            <br>
            <a style="margin-top: 10%" href="/account" class="navbarElement">Account</a>
            <br>
            {% if user.purpose == "Content Creator" %}
            <a style="margin-top: 10%" href="/add_domain" class="navbarElement">Add Domain</a>
            <br>
            <a style="margin-top: 10%" href="/payout" class="navbarElement">Receive Payout</a>
            <br>
            <a style="margin-top: 10%" href="/website_performance" class="navbarElement">Website Performance</a>
            {% endif %}
        </div>
    </div>

    <div style="float: left; width: 75%; margin-left: 24%">
        <h1>Add new domain</h1>
        How to add a domain? <a href="/docs">Visit docs.</a>
        <br>
        Download <a href="/confirmationfile">confirmation file</a>
        <br>
        <form method=post enctype=multipart/form-data style="margin-top: 5%">
            <input class="mainFormBig" type=text name=domain placeholder="Domain name with subdomain">
            <hr>
            <input class="mainFormBig" type=text name=keywords placeholder="Keywords with '/' in between.">
            <hr>
            <br>
            <input class="buttonBlue" style="width: 25%" type=submit value="Add Domain">
        </form>
        <h2>Your domains:</h2>
        {% for i in domains %}
        <br>
        {{ i }}
        <hr>
        {% endfor %}
    </div>
</body>