<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - EE</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; background: linear-gradient(90deg, white 0%, rgb(0, 200, 220) 60%); padding: 0; margin: 0; outline: 0; border: 0">

    <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 0%">
            <span class="navbarElement" style="margin-left: 3%; font-size: 50px" onclick="openNav()">InAds</span>
            <div id="myNav" class="overlay">

          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

          <div class="overlay-content">
            <a href="/docs"><h2>Docs</h2></a>
            <a href="/estimated_earnings"><h2>Estimated Earnings</h2></a>
            <a href="/login"><h2>Login</h2></a>
            <a href="/register"><h2>Register</h2></a>
          </div>

        </div>

        <span onclick="openNav()" class="navbarElement" style="float: right; margin-right: 5%; font-size: 50px">&#9776;</span>
    </div>
    <div  style="margin-left: 5%; background-color: white; border-radius: 5px; width: 40%; float: left" id="mainFormDiv">
        <div style="margin-left: 5%">
            <h1>Estimated earnings with InAds</h1>
            <br>
            <input onchange="calculate()" type="number" id="monthlyvis" class="mainForm" placeholder="Number of monthly visitors">
            <hr style="margin-right: 70%">
            <input onchange="calculate()" type="text" id="websiteurl" class="mainForm" placeholder="Website URL">
            <hr style="margin-right: 70%">
            <br>
            <h1 style="font-size: 2rem;" id="outcome"></h1>
        </div>
    </div>
    <iframe src="" style="width: 300px; height: 600px; float: right; margin-right: 5%" id="websiteFrame" frameborder="0"></iframe>

    <script>

         function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }

         if(window.innerWidth < window.innerHeight){
            document.getElementById("mainFormDiv").style.width = "100%"
            document.getElementById("mainFormDiv").style.marginLeft = "0"
            document.getElementById("websiteFrame").style.marginLeft = "0"
            document.getElementById("websiteFrame").style.marginRight = "0"
            document.getElementById("websiteFrame").style.clear = "both"
            document.getElementById("websiteFrame").style.width = "100vw"
            document.getElementById("websiteFrame").style.height = "100vh"
         }
        function calculate(){
            if(document.getElementById("monthlyvis").value < 10000){
                document.getElementById("monthlyvis").value = 10000
            }
            document.getElementById("websiteFrame").src = document.getElementById("websiteurl").value
            var revestimate = document.getElementById("monthlyvis").value * 0.00003 * 32
            var revestimate2 = -1 * (revestimate * 0,2)
            var frev = parseFloat((revestimate + revestimate2) * 3 * 12)
            document.getElementById("outcome").innerHTML = frev.toFixed(2)  + " $ annually";
        }
    </script>
</body>
</html>