<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Information</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans">
    <h1>InAds Global</h1>
    <hr>

    <h2>InAds Global is a low-cost advertising network with 40 times cheaper CPC. InAds is an acronym for Infinity Adverts.</h2>

    <h3>Links</h3>

    Visit our website at <a href="https://www.inadsglobal.com">website</a>
    <br>
    Get information on advertising with InAds at <a href="https://www.inadsglobal.com/presentation/intro/3925">Presentation</a>
    <br>

    <h3>Revenue Model</h3>

    Low commission with higher volume target.

    <h3>How do we collect debts?</h3>
    We make our borrowers sign a debt contract which enables us to take legal action when required. No risks involved.
    <hr>
    <h3>General Info</h3>

    <h4>Number of monthly visitors:~32 billion / Unique Reach: ~20 million</h4>
    <h4>Avg. CPM: 0,03</h4>
    <h4>Avg. CPC: 0,005</h4>
    <h4>Avg. CTR: 1,25%</h4>
    <hr>
    <h3>Finances</h3>

    <h4>Number of Shares: 2000</h4>
    <h4>Pre-Money Valuation: 88,000,000$</h4>

    <h4>Est. Month Revenue: 1.612.800TRY(192.000USD)</h4>
    <hr>

    <h3>What problems we solve?</h3>
    <ul>
        <li>Marketing is not affordable for most of the businesses.</li>
        <li>You need a large cash reserve to market even small businesses (A typical small business spends an average of 9,000 USD per month on Google Ads)</li>
        <li>AdBlocker is a huge thread to online advertising with about 25% of the internet using it.</li>
    </ul>

    <h3>Market Size</h3>
    <ul>
        <li>A total of 325 Billion USD is spend on online advertising last year.</li>
        <li>More than 20 million websites are monetising their content through digital advertising.</li>
    </ul>

    <h3>Product</h3>
    Upload your ad - Choose ad format (Video, Banner or Square) - Choose Target Audience Through Keywords - Publish!

    <h3>Business Model</h3>
    We are taking interest from advertising loans.

    <h3>Market Adoption</h3>
    <ul>
        <li><a href="/partners">Partners</a></li>
        <li>1 billion traffic.</li>
    </ul>

    <h3>Competition</h3>

    <ul>
        <li>Taboola - Unpopular Ad Formats and Higher Pricing</li>
        <li>Google Ads - Higher Pricing</li>
        <li>PropellerAds - Low Traffic, Unpopular Ad Formats, Affiliate marketing(not a direct competitor)</li>
    </ul>

    <h3>Advantages</h3>
    <ul>
        <li>Ease of use, simple ui with simple targeting.</li>
        <li>Super Cheap, up to forty times cheaper CPC.</li>
        <li>Installment payments & Loans, allows small businesses and startups to scale without spending a single cent.</li>
    </ul>

    <h3>Vision</h3>

    As a team we believe cheaper does not mean worse, it only means lower profit margin so without any missing features we are delivering higher quality for lower costs. Currently our revenue is not high despite high volume of traffic which is caused by low profit margins however our growth is staggering, over a billion visitors in 6 months!

    <h3>Team</h3>

    We are a team of 5 software engineers, we can setup a zoom or google meets meeting to meet the team personally.

    <h3>Market Size</h3>

    Total Digital Advertising market is currently amounts for 325 Billion USD annually. Despite Google Ads being huge company in the field it accounts for about 120 billion USD annually. There are many other ad networks like Taboola, at 1 billion annually.

    <h3>Growth Strategy</h3>

    Our growth strategy is to reach out to corporate agencies to offer partnership, so that we can have only high quality ads in our system. You can learn more about partnership at
    <a href="https://www.inadsglobal.com/presentation/intro/3925">Presentation</a>

    <h3>InAds Extension</h3>
    InAds also created a browser extension enabling us to directly reach the end user and collect larger amounts of data. By using this extension users can monetise their data production. We insert ads in the web pages they visit according to their data and enable them to make money while literally surfing the web or scrolling through social media. Our clients can make up to 250 USD / month just by simply adding our extension also, we use native advertising for extension users meaning that ads will never annoy them by blocking their content. Another unique InAds feature.

</body>
</html>