<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="6b0368c975b5c0cb" />
    <title>InAds</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>
<body style="width: 100%; height: 100%; font-family: Open Sans; font-size: 12; line-height: 1.5;  padding: 0; margin: 0; outline: 0; border: 0"">
    <link rel="stylesheet" type="text/css" href="/styles">

    <div>
        <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 0%">
            <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9130410?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
            <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
            <a class="navbarElement" href="/plans"><small>Plans</small></a>
            <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
            <a class="navbarElement" href="/docs"><small>Docs</small></a>
            <a class="navbarElement" style="float:right; margin-right: 5%;" href="/register">Register</a>
            <a class="navbarElement" style="float:right; margin-right: 2%;" href="/login">Login</a>
        </div>
        <hr style="opacity: .3">
        <img id="titleimage" src="/logos/title.png" alt=""  style="height: 100vh; width: 100%">
        <br>
    </div>

    <center>
        <h1>Why InAds?</h1>
        <br>
        <h1>100M+ Traffic Monthly Traffic | Show your ads to over 100 million people.</h1>
        <br>
        <h3>Make money from your website</h3>
        <p style="margin-right: 10%; margin-left: 10%;">Unlike many advertising networks, InAds adopts a no commission policy.
            With no commission or extra fees on your income and make 20 Cents per click.
            Your income will skyrocket after switching to InAds.</p>
        <br>
        <h3>Cheaper Cost of Advertising</h3>
        <p style="margin-right: 10%; margin-left: 10%;">Thanks to our unique no commission model,
            advertisers pay less and enjoy the same benefits for a lower price as well. Also, instead of paying a
            an advertisement network your are directly supporting online content creators.</p>
        <br>
        <h3>Easy Integration, Secure Payments</h3>
        <p style="margin-right: 10%; margin-left: 10%;">
            Through copy-pasting a single line of code you connect to the InAds global network and start monetizing your content.
            Through adding simple HTML elements you can have unlimited customisation over the size and place of the advertisements on your webpage.
        </p>
        <br>
        <h3>Cannot be blocked by ad blockers</h3>
        <p style="margin-right: 10%; margin-left: 10%;">
            So you are ready to monetize your web page through ads however many people today are using ad blockers which makes it impossible for you to generate advertising revenue.
            However, InAds has your back its unique ad insertion policy makes it impossible for ad blockers to detect ads and thus makes ads impossible to block.
        </p>
        <br>
        <h3>Number of ads matter</h3>
        <p style="margin-right: 10%; margin-left: 10%;">Unlike Google Adsense's or many other ad networks' "A page view is what is counted in your reports every time a user views a page displaying ads. We will count one page view regardless of the number of ads displayed on that page." policy your website generates income for every single ad on your web page.</p>
    </center>
    <center style="background-color: rgb(230, 230, 235); height: 40%; margin-top: 5%">
        <p style="opacity: 0">InAds</p>
        <h4 style="margin-top: 3%">SKYROCKET YOUR INCOME</h4>
        <h1 style="margin-top: 3%">Calculate your estimated income</h1>
        <button class="buttonGray" onclick="document.location = '/estimated_earnings'">Calculate</button>
        <p style="opacity: 0; margin-top: 3%">InAds</p>
    </center>
    <div style="margin-left: 15%; margin-top: 4%; margin-right: 15%">
        <h3>Advantages</h3>
        <h2 style="margin-top: 5%">Cheapest possible</h2>
        <h3>Our no commission policy allows us to offer the cheapest price in the market to our customers.</h3>
        <hr>
        <h2 style="margin-top: 5%">Targeted ads</h2>
        <h3>Our powerful network enables our advertisers to advertise directly to their target audience.
            Through picking keywords and interests.</h3>
        <hr>
        <h2 style="margin-top: 5%">You control your content</h2>
        <h3>You can customise the shape and place of the ads on your website and receive feedback on your advertised content.</h3>
        <hr>
    </div>

    <center style="margin-top: 10%; margin-left: 20%; margin-right: 20%">
        <h1>Copy and paste a single line of code and place the ads on your website to 5x your income.</h1>
        <button style="margin-top: 5%; margin-bottom: 5%" class="buttonBlue" onclick="document.location = '/register'">Start Now</button>
    </center>
    <br>
    <center style="background-color: rgb(180, 180, 185);">
        <h1 style="color: white">InAds by InGames, Inc.</h1>
    </center>

    <script>
        if(window.innerWidth < window.innerHeight){
            document.getElementById("titleimage").setAttribute('src', "/logos/titlemobile.png");
        }
    </script>
</body>
</html>