<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Plans</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>
<body style="width: 100%; height: 100%; font-family: Open Sans; font-size: 12; line-height: 1.5">
    <link rel="stylesheet" type="text/css" href="/styles">

        <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 1%">
            <img src="/logos/webicon.png" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
            <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
            <a class="navbarElement" href="/plans"><small>Plans</small></a>
            <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
            <a class="navbarElement" href="/docs"><small>Docs</small></a>
        </div>
        <hr style="opacity: .3">
        <center>
            <h1>Intro Presentation</h1>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTmFpo8u5ECfpre4GHM3QTOB1UlYiEz7MjCml2nejU9ebCBM_yIjli-kLn---nXtw-Wa5SJ7WLnTimA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </center>
</body>
</html>
