<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; width: 100%; height: 100%; background-color: white; padding: 0; margin: 0; outline: 0; border: 0">

    <div style="margin-top: 0">
        <form method=post enctype=multipart/form-data style="background-color: white; width: 100%;">
            <div id="form-mail-registration">
                <h1 style="font-size: 80px; margin-left: 5%">InAds</h1>
                <h1 style="font-size: 40px; margin-left: 5%">Login</h1>
                <input style="margin-left: 5%; width: 70%; height: 50px; margin-top: 5vh; font-size: 40px" class="mainForm" type=text name=email placeholder="Email">
                <hr style="margin-left: 5%; margin-right:35%">
                <br>
                <input style="margin-left: 5%; width: 70%; height: 50px; font-size: 40px"  class="mainForm" type=password name=password placeholder="Password">
                <br>
                <hr style="margin-left: 5%; margin-right:35%">
                <input class="buttonGray" style="margin-left: 5%; width: 50%; font-size: 50px; height: 100px" type=submit value="Login">
                <br>
                <div style="margin-left: 5%; margin-top: 5%; font-size: 50px">Do not have an account? <a href="/register" class="navbarElement">Register</a></div>
                <br>

            </div>
        </form>
    </div>

    <br>
</body>
</html>