<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; width: 100%; height: 100%; padding: 0; margin: 0; outline: 0; border: 0">
    <style>
        .loginButton{
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        .loginInput{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>

    <div style="margin-top: 0">
        <form method=post enctype=multipart/form-data style="margin-top: 25vh; background-color: white; width: 30%; float: right; margin-right: 34%; border-radius: 5px; border: none">
            <h1>InAds - Login</h1>
            <br>
            <span>Email</span>
            <br>
            <input style="width: 98%" class="loginInput" type=text name=email>
            <br>
            <span style="margin-top: 5%">Password</span>
            <br>
            <input style="width: 98%;"  class="loginInput" type=password name=password>
            <input class="loginButton" type=submit value="Login">
            <br>
            <div style="margin-top: 5%">Do not have an account? <a href="/register" class="navbarElement">Register</a></div>
            <br>
        </form>
    </div>

    <br>
    <script>
        if(window.innerWidth < window.innerHeight){
            document.location = "/login/mobile"
        }
    </script>
    <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207713366"></script>
</body>
</html>