<!doctype html>
<title>InAds - Payout</title>

<head>
    <link rel="stylesheet" type="text/css" href="/styles">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <script>
        if({{ user.account_balance }} < 150){
            alert("Your account balance needs to be higher than 150 USD to be able to receive payouts")
            document.location = "/dashboard"
        }
    </script>
</head>

<body style="font-family: open sans; margin: 0;">
    <div style="min-height: 100vh; background-color: rgba(150, 238, 229, 0.05); width: 20%; border-right:1px solid rgba(150, 150, 150, .5); float: left; position: fixed; box-shadow: 10px 0px 12px -12px black; z-index:10">
        <div style="color: black; margin-left: 25%;">
            <br>
            <div style="font-size: 80%">{{ user.email }}</div>
            <a style="margin-top: 30%" href="/dashboard" class="navbarElement">Dashboard</a>
            <br>
            <a style="margin-top: 10%" href="/advertise" class="navbarElement">Start a campaign</a>
            <br>
            <a style="margin-top: 10%" href="/load_money" class="navbarElement">Increase Account Balance</a>
            <br>
            <a style="margin-top: 10%" href="/account" class="navbarElement">Account</a>
            <br>
            <a style="margin-top: 10%" href="/status" class="navbarElement">Technical Status</a>
            <br>
            {% if user.purpose == "Content Creator" %}
            <a style="margin-top: 10%" href="/add_domain" class="navbarElement">Add Domain</a>
            <br>
            <a style="margin-top: 10%" href="/payout" class="navbarElement">Receive Payout</a>
            <br>
            <a style="margin-top: 10%" href="/website_performance" class="navbarElement">Website Performance</a>
            {% endif %}
        </div>
    </div>

    <div style="float: left; width: 75%; margin-left: 20%">
        <h1>Receive Payout</h1>
        <h2>Current account balance: {{ "%.2f" % user.account_balance }} $</h2>
        <form method=post enctype=multipart/form-data>
            <input class="mainFormBig" style="width: 100%" type=text name=name placeholder="Account holder full name">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=paddress placeholder="Account holder address">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=namebank placeholder="Bank Name">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=baddress placeholder="Bank Address">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=anumber placeholder="Account Number">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=atype placeholder="Account type(ex: savings)">
            <hr>
            <input class="mainFormBig" style="width: 100%" type=text name=rnumber placeholder="Routing Number">
            <hr>
            <br>
            <input class="buttonBlue" style="width: 25%" type=submit value="Start Campaign">
            <br>
            <br>
            Enter all the applicable information, you can leave some entries empty.
            Receiving payments can take up to a month depending on your region, about 2 weeks in average.
        </form>
    </div>
</body>