<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Plans</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>
<body style="width: 100%; height: 100%; font-family: Open Sans; font-size: 12; line-height: 1.5">
    <link rel="stylesheet" type="text/css" href="/styles">

        <div style="width: 100%; color: gray; margin-top: 1%; margin-bottom: 1%">
            <img src="https://firebasestorage.googleapis.com/v0/b/file-store-6094b.appspot.com/o/files%2F9130410?alt=media&token=709b6728-023d-4c7e-b118-d459bc2794c3" style="height: 5%; width: 5%; margin-left: 3%; vertical-align: middle; display:inline-block;">
            <a class="navbarElement" style="margin-left: 4%;" href="/"><small>Home Page</small></a>
            <a class="navbarElement" href="/plans"><small>Plans</small></a>
            <a class="navbarElement" href="/estimated_earnings"><small>Estimated Earnings</small></a>
            <a class="navbarElement" href=""><small>About</small></a>
            <a class="navbarElement" href="/docs"><small>Docs</small></a>
        </div>
        <hr style="opacity: .3">
    <h1 style="font-size: 5rem; margin-left: 5%">One Plan, Unlimited Possibilities</h1>
    <h1 style="font-size: 3rem; margin-left: 5%">Start Monetizing your content now for free <br> and 5x your income</h1>
    <button class="buttonBlue" style="margin-left: 5%" onclick="document.location = '/register'">Start Now</button>
</body>
</html>
