<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InAds - Register</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles">
</head>
<body style="font-family: open sans; width: 100%; height: 100%; padding: 0; margin: 0; outline: 0; border: 0">
    <div class="alertbox" hidden="true" id="alert-box">Passwords do not match</div>
    <div class="alertbox" hidden="true" id="alert-form">You need to fill all the fields bellow to submit the form</div>
    <style>
        .loginButton{
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        .loginInput{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>

    <div style="margin-top: 0">
        <form method=post id="form-id" enctype=multipart/form-data style="margin-top: 15vh; background-color: white; width: 30%; float: right; margin-right: 34%; border-radius: 5px; border: none">
            <h1>InAds - Register</h1>
            <br>
            <span>Email</span>
            <input style="width: 98%" class="loginInput" type=text name=email required>
            <br>
            <span style="margin-top: 5%">Password</span>
            <br>
            <input style="width: 98%" class="loginInput" type=password id="passOrigin" name=password required>
            <br>
            <span style="margin-top: 5%">Confirm Password</span>
            <br>
            <input style="width: 98%" class="loginInput" type=password id="passAgain" name=password required>
            <br>
            <span style="margin-top: 5%">Role</span>
            <br>
            <select style="width: 98%" class="loginInput" name="purpose" class="mainForm" id="rgstr" required>
                <option value="Advertiser">Your Purpose</option>
                <option value="Content Creator">Content Creator</option>
                <option value="Advertiser">Advertiser</option>
            </select>
            <br>
            <input class="loginButton" type="button" onclick="validator()" value="Register">
            <div>Already have an account? <a href="/login" class="navbarElement">Login</a></div>
            <br>

        </form>
    </div>

    <br>
    <script>
        if(window.innerWidth < window.innerHeight){
            document.location = "/login/mobile"
        }
        function validator(){
            const formElements = document.getElementsByTagName("input")

            for(let i = 0; i < formElements.length; i++){
                if(formElements[i].value.length < 3){
                    document.getElementById("alert-form").hidden = false;
                    return;
                }
            }

            const passOrigin = document.getElementById("passOrigin").value
            const passAgain = document.getElementById("passAgain").value
            if(passAgain != passOrigin){
                document.getElementById("alert-box").hidden = false;
                return;
            }

            document.getElementById("form-id").submit()
        }
    </script>
    <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207713366"></script>
</body>
</html>