<!doctype html>
<title>InAds - Campaign</title>

<head>
    <link rel="stylesheet" type="text/css" href="/styles">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
</head>

<body style="font-family: open sans; margin: 0;">
    <div style="min-height: 100vh; background-color: rgba(150, 238, 229, 0.05); width: 20%; border-right:1px solid rgba(150, 150, 150, .5); float: left; position: fixed">
        <div style="color: black; margin-left: 25%;">
            <br>
            <div style="font-size: 80%">{{ user.email }}</div>
            <a style="margin-top: 30%" href="/dashboard" class="navbarElement">Dashboard</a>
            <br>
            <a style="margin-top: 10%" href="/advertise" class="navbarElement">Start a campaign</a>
            <br>
            <a style="margin-top: 10%" href="/load_money" class="navbarElement">Increase Account Balance</a>
            <br>
            <a style="margin-top: 10%" href="/account" class="navbarElement">Account</a>
            <br>
            {% if user.purpose == "Content Creator" %}
            <a style="margin-top: 10%" href="/add_domain" class="navbarElement">Add Domain</a>
            <br>
            <a style="margin-top: 10%" href="/payout" class="navbarElement">Receive Payout</a>
            <br>
            <a style="margin-top: 10%" href="/website_performance" class="navbarElement">Website Performance</a>
            {% endif %}
        </div>
    </div>

    <div style="float: left; width: 75%; margin-left: 24%">
        <h1>Create New Campaign</h1>
        <h2>Current account balance: {{ "%.2f" % user.account_balance }} $</h2>
        <form method=post enctype=multipart/form-data>
            <div class="upload-btn-wrapper">
              <button onclick="filenamer()" id="uploadButton" class="btn">Upload a file</button>
              <input onchange="loadFile(event)" type="file" name="file" id="file">
            </div>
            <hr>
            <input class="mainFormBig" type=text name=website placeholder="Advertisement Web Page URL">
            <hr>
            <input class="mainFormBig" type=number name=budget placeholder="Campaign Total Budget">
            <hr>
            <input id="keywordsInput" class="mainFormBig" style="width: 90%" type=text name=keywords placeholder="Targeted Keywords with '/' in between.">
            <hr>
            <select class="mainFormBig" name="typeAd" id="shapead">
                <option value="inadsbanner">Banner(For vertically placed ads)</option>
                <option value="inadstandard">Rectangle(For horizontally placed ads)</option>
                <option value="inadsquare">Square</option>
            </select>
            <hr>
            <br>
            <input class="buttonBlue" style="width: 25%" type=submit value="Start Campaign">
        </form>
        <br>
        <img id="output" src="" alt="">
        <p id="sizes"></p>
    </div>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
              URL.revokeObjectURL(output.src) // free memory
              if (Math.abs(event.target.files[0].width - event.target.files[0].height) < 200){
                document.getElementById("shapead").value = "inadsquare"
              }
              else if ((event.target.files[0].width - event.target.files[0].height) < 0){
                document.getElementById("shapead").value = "inadsbanner"
              }
              else if ((event.target.files[0].width - event.target.files[0].height) > 0){
                document.getElementById("shapead").value = "inadstandard"
              }
              document.getElementById("uploadButton").innerHTML = event.target.files[0].name
            }
            alert(event.target.files[0].width)
            alert(event.target.files[0].height)
        };

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");

            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }

        function addKeyword(insertKey){
             document.getElementById("keywordsInput").value = document.getElementById("keywordsInput").value + "/" + insertKey
        }
    </script>
</body>